<div class="em-gradient flex items-center justify-center">
  <h1 class="font-brand font-bold text-3xl text-white">
    Instantly share Elixir code, notes, and snippets.
  </h1>
</div>
<.live_component module={GistFormComponent} id={:new} current_user={@current_user} />
